@model ExperienceViewModel
@{
}

<div>
    @Html.LabelFor(m => m.TypeID)
    @Html.DropDownListFor(m => m.TypeID, Model.Types, "")
    @Html.ValidationMessageFor(m => m.TypeID)
</div>

<div>
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title)
</div>
<div>
    @Html.LabelFor(m => m.Organisation)
    @Html.TextBoxFor(m => m.Organisation)
    @Html.ValidationMessageFor(m => m.Organisation)
</div>
<div>
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
</div>


<div>
    @Html.LabelFor(m => m.Start)
    <input name="@Html.NameFor(m => m.Start)" type="date" value="@Model.Start.ToString("yyyy-MM-dd")" />
    @Html.ValidationMessageFor(m => m.Start)
</div>
<div>
    @Html.LabelFor(m => m.End)
    <input name="@Html.NameFor(m => m.End)" type="date" value="@(Model.End.HasValue ? Model.End.Value.ToString("yyyy-MM-dd") : "")" />
    @Html.ValidationMessageFor(m => m.End)
</div>


<div>
    @Html.LabelFor(m => m.ContactName)
    @Html.TextBoxFor(m => m.ContactName)
    @Html.ValidationMessageFor(m => m.ContactName)
</div>
<div>
    @Html.LabelFor(m => m.ContactEmail)
    @Html.TextBoxFor(m => m.ContactEmail)
    @Html.ValidationMessageFor(m => m.ContactEmail)
</div>
<div>
    @Html.LabelFor(m => m.ContactPhone)
    @Html.TextBoxFor(m => m.ContactPhone)
    @Html.ValidationMessageFor(m => m.ContactPhone)
</div>
<div>
    <button type="submit">Save</button>
</div>